body {
  background-color:#EFEFEF;
}

h1 {
  position:absolute;
  top:-10px;
  left:15px;
  font-weight:bold;
}

h2 {
  margin-top:150px;
  margin-bottom:0px;
  width:100%;
  text-align:center;
}

h2 strong {
  font-size:200%;
  color:#3277E0;
}

h3 strong {
  font-size:120%;
  color:#3277E0;
}

.login {
  width:300px;
  padding:20px 20px 10px;
  margin:200px auto 0;
  border-radius:4px;
  background-color:#FFF;
  border:1px solid #CCC;
}

.login .title {
  width:300px;
  text-align:center;
  margin:-60px 0 30px -20px;
}

.info {
  width:300px;
  margin:10px auto;
  text-align:center;
}

table {
  background-color:#FFF;
}

th, td {
  text-align:center;
}

th:first-child {
  text-align:right;
  width:100px;
}

.row {
  margin-bottom:50px;
}

.row div {
  text-align:center;
}

.good {
  color:#28AB52;
}

.highlight {
  color:#3277E0;
}

.bad {
  color:#B81C1C;
}
